<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_success">
        <observer name="mp_giftcard" instance="Mageplaza\GiftCard\Observer\GiftCard"/>
    </event>
<!--    <event name="sales_model_service_quote_submit_success">-->
<!--        <observer name="mp_cost_giftcard" instance="Mageplaza\GiftCard\Observer\Cost"/>-->
<!--    </event>-->
    <event name="controller_action_predispatch_checkout_cart_couponPost">
        <observer name="mp_apply" instance="Mageplaza\GiftCard\Observer\Apply"/>
    </event>
    <event name="controller_action_predispatch_checkout_cart_index">
        <observer name="mp_collect_index" instance="Mageplaza\GiftCard\Observer\CollectIndex"/>
    </event>
</config>